body{
    background-color: rgb(0, 162, 255);
    color: beige;
}

a{
  text-decoration: none !important;
}

#jumbotron{
    background-color: rgb(30, 108, 210);
    color: beige;
    padding-top: 100px;
    padding-bottom: 50px;
}

.btn{
    background-color: rgb(30, 108, 210);
    color: beige;
}

footer{
    background-color: rgb(84, 77, 94);
}

.address{
    padding-top:10px;
    padding-left: 2em;
    align-content: flex-start;
    line-height: 50%;
}

ul{
    list-style: none;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
    font-size: 15px;
}

.breadcrumb-container{
  background-color: rgb(123,177,254);
  padding: 15px;
}
